<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/sobre">SOBRE</a></li>
            <li><a href="/doacao-sala">DOAÇÃO SALA</a></li>
            <% if(req.session.loggedin) { %>
            <% if(req.session.adm){ %>
                <li><a href="/nova-arrecadacao">NOVA ARRECADAÇÃO</a></li>
                
            <% } %>
            <li><a href="/dashboard">DASHBOARD</a></li>
            <% } %>
        </ul>
    </nav>
    <% if(req.session.loggedin) { %>
    <a href="/logout">Sair da Conta</a>
    <% } else { %>
        <a href="/login">LOGIN</a> 
    <% } %>
</header>