<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Docente</th>
      <th>Pontos</th>
    </tr>
  </thead>
  <tbody>
    <% turmasComPontos.forEach(turma => { %>
      <tr onclick="window.location='/dashboard/turma/<%= turma.id_turma %>';" style="cursor: pointer;">
        <td><%= turma.sigla %></td>
        <td><%= turma.docente %></td>
        <td><%= turma.total_pontos %></td>
      </tr>
    <% }); %>
  </tbody>
</table>