<table class="tabela-doacao">
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Docente</th>
      <th>Pontos</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < selectTurmas.length; i++) { %>
      <tr>
        <td><%= selectTurmas[i].sigla %></td>
        <td><%= selectTurmas[i].docente %></td>
        <td><%= selectTurmas[i].pontos %></td>
      </tr>
    <% } %>
  </tbody>
</table>