<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Docente</th>
      <th>Pontos</th>
    </tr>
  </thead>
  <tbody>
    <% turmasComPontos.forEach(turma => { %>
      <tr>
        <td><a href="/salasolo"><%= turma.sigla %></a></td>
        <td><%= turma.docente %></td>
        <td><%= turma.total_pontos %></td>
      </tr>
    <% }); %>
  </tbody>
</table>