<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <center>
        <h1>Alô SESI Sumaré</h1>
        <img src='/static/SenaiLogo.png' width='500px'>
    </center>
    <br>
    <a href="./sobre">sobre</a>

</body>

</html>