<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <br>
    <center>
        <h1>CADASTRAR</h1>
        <br>
        <table>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
            </tr>
            <tr>
                <td>
                    Senha:
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
            </tr>
            <tr>
                <td>
                    Confirmar Senha:
                </td>
                <td>
                    <input type="text" name="" id="">
                </td>
            </tr>
        </table>
        <br>
        <a href="./login"><button type="submit" onsubmit="">CADASTRAR</button></a>
    </center>

    <%- include("../partials/footer") %>
</body>

</html>