<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <h1><font color="aliceblue">Tabela Geral</font></h1><br>
        <main id="MainDash">
        <%- include("../partials/usertable") %>
        </main>
    </center><br><br>
    <%- include("../partials/footer") %>
</body>

</html>