<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/menu") %>
    <br /><br />
    <center>
      <main>
        <table width="100%" class="tabela-doacao-sala">
          <thead>
            <tr>
              <th colspan="2">id turma</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Docente responsável</td>
              <td>id docente</td>
            </tr>
            <tr>
              <td>Roupa usada</td>
              <td>id roupaUsada</td>
            </tr>
            <tr>
              <td>Agasalho</td>
              <td>id agasalho</td>
            </tr>
            <tr>
              <td>Roupa nova</td>
              <td>id roupaNova</td>
            </tr>
            <tr>
              <td>Cobertor usado</td>
              <td>id cobertorUsado</td>
            </tr>
            <tr>
              <td>Cobertor novo</td>
              <td>id cobertorNovo</td>
            </tr>
          </tbody>
        </table>
      </main>
    </center>
    <br />

    <%- include("../partials/footer") %>
  </body>
</html>
