<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/menu'); %>      
    </header>

    <main>
        <div>
            <center>
            <br><br>
            <h1>Página não encontrada</h1>
            <br>
            <img src="/static/404.png">
        </center>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>