<!DOCTYPE html>

<html lang="en">

<%- include("../partials/head") %>

    <body>
        <%- include("../partials/menu") %>
            <br><br>
            
            <center>
                <h1><font color="aliceblue">Bem-vindo à Campanha do Agasalho</font></h1><br><br>
            </center>

            <img src='/static/LogoCamp.png' width='300px' class="LogoCamp">

            <br><br><br>
<br>
            <%- include("../partials/footer") %>
    </body>

</html>