<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    
    <center>
        <h1 id="h1Login">NOVA POSTAGEM</h1>
        <main>
            <form action="/novo-post" method="post" class="formItens">
        <table id="tblPost">
            <tr>
                <td>
                    Titulo:
                </td>
                <td>
                    <input type="text" name="title" id=title" style="width: 400px;" placeholder="Digite o Titulo" required>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Conteúdo:
                </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>
                    <textarea name="content" id="content" placeholder="Digite o conteudo da Postagem" rows="6" cols="45" required></textarea>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <button type="submit" id="btnPost">POSTAR</button>
            </form>
        </main>
    </center>

    <%- include("../partials/footer") %>
</body>

</html>