<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>

    <h1 style="text-align: center; margin-top: 40px; color: rgb(0, 0, 0);">Sobre o Projeto</h1>

    <div id="text" class="Psobre" style="max-width: 800px; margin: 30px auto; padding: 20px; font-size: 1.1rem; text-align: justify; background-color: #d0bdf4;">
      
        <p>
           Este é um site voltado para a gestão e apoio de campanhas sociais promovidas pela escola SENAI Dr. Celso Charuri, com foco em facilitar, de forma modernizada os processos de doação e engajamento da comunidade. A plataforma busca oferecer praticidade e acessibilidade , aproximando doadores, voluntários e instituições, garantindo que recursos arrecadados cheguem de forma eficiente às pessoas em situação de vulnerabilidade. 
        </p>
      
    </div>

    <%- include("../partials/footer") %>
</body>

</html>