<html lang="en">

<%- include("../partials/head") %>

<body>
    <br>
    <center><h1>NOME DE USUARIO JA CADASTRADO</h1>
        <br>
        <a href="/login"><h2>Ir para a Página de Login</h2></a>
        <a href="/cadastro"><h2>Fazer Cadastro</h2></a>
    </center>
    <%- include("../partials/footer") %>
</body>

</html>