* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
  }

  body {
    background: linear-gradient(to right #e5eaf5);
    color: #ffffff;
    line-height: 1.6;
    min-height: 100vh;
  }
  
  h1{
    color: #8458B3;
  }

  header {
    background-color: #d0bdf4;
    padding: 16px 32px;
    color: white;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    transition: color 0.3s ease;
  }
  
  header a:hover {
    color: white;
  }
  
  nav {
    background: transparent;
    padding: 15px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 25px;
    position: relative;
  }
  
  nav ul li::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: white;
    transition: width 0.3s;
    margin: 5px auto 0 auto;
  }
  
  nav ul li:hover::after {
    width: 100%;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s, color 0.2s;
  }
  
  nav ul li a:hover {
    transform: scale(1.1);
    color: white;
  }
  

  #h1Login {
    font-size: 2.5rem;
    margin: 30px auto;
    text-align: center;
    color: red;
  }
  

  input, textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    max-width: 100%;
    color: #ffffff;
    outline: none;
    transition: border 0.3s ease;
    display: inline-block;
  }
  

  .tabela-doacao {
    width: 25%;
    font-weight: bold;
    border-spacing: 0;
    border: 3px solid #8458B3; 
    border-radius: 10px;
    background-color: #d0bdf4; 
    color: white;

  }

  .tabela-doacao th, .tabela-doacao td {
  border: 2px solid #8458B3;
  padding: 10px;
  text-align: center;
}

.tabela-doacao th {
  text-align: center;
  background-color: #8458B3;
  font-weight: bold;
}

  
  
  button {
    padding: 10px 20px;
    border: none;
    background-color:#8458B3;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  button:hover {
    background-color:#774ea2;
    transform: scale(1.05);
  }
  

  footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    background-color:#d0bdf4;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 0.9rem;
  }
  
  #MainDash * {
    border: 1px solid;
    width: 900px;
  }
  
  #MainDash table {
    text-align: center;
    border: 3px solid;
  }
  

  a {
    font-size: large;
  }
  
  .LogoCamp {
    border-radius: 15%;
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }
  
  .LogoCamp:hover {
    transform: scale(1.1);
  }

  .bloqueio{
    width: 300px;
    height: auto;
    background-color: transparent;
  }

  #text {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffff;
    text-align: justify;
  }


#h1Login {
  font-size: 2.5rem;
  margin: 40px auto 20px;
  text-align: center;
  color: #8458B3;
}

.h1arrec{
    color:#000;
}

.formItens {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: inline-block;
  margin-top: 20px;
}


#tblLogin {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px 15px;
}

#tblLogin td {
  font-size: 1rem;
  color: #333;
}

#tblLogin input {
  width: 260px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #000;
  transition: border-color 0.3s;
}

#tblLogin input:focus {
  border-color: #2a378e;
  outline: none;
}

#btnEntrar {
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #8458B3;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

#btnEntrar:hover {
  background-color: #714c99;

}

#cadastrar {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #000;
}

#cadastrar:hover {
  color: #8458B3;
  text-decoration: underline;
}

.envio{
  background-color: white;
  padding: 60px 60px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: inline-block;
  margin-top: 50px;
  font-size: 1.3rem;
  text-align:justify;

}

.novarrec {
  margin-top: 20px;
  margin-left:170px;
  display: block;
  padding: 10px 20px;
  background-color: #8458B3;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: justify;

}

.novarrec:hover {
  background-color: #8458B3;
}

.Psobre{
  background-color: #d0bdf4;
}