* {
    font-family: Arial;

}

body {
    margin: 0;
}

header {
    background-color: red;
    padding: 8px;
    color: white;
    max-width: 100%;
    text-align: end;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 35px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 10px;
}

header a:hover {
    color: #ffd700;
}

#h1Login{
    font-size: 40px;
}

input{
    font-size: 17px;
    color: #0d0d8077;
}

#tblLogin {
    border-style: none;
}

#tblLogin td{
    font-size: 18px;
    font-weight: bolder;
}

#tblLogin tr td{
    text-align: end;
    padding-left: 10px;
}

textarea{
    font-size: 17px;
    color: #0d0d8077;
}

#tblPost {
    border-style: none;
}

#tblPost td{
    font-size: 18px;
    font-weight: bolder;
    text-align: start;
}

#tblPost tr td{
    padding-left: 10px;
}
footer {
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#cadastrar{
    padding: 10px;
    font-size: 14px;
}

#VoltarLogin{
    padding: 10px;
    font-size: 14px; 
}

#MainDash *{
    border: 1px solid;
    width: 900px;
}

#MainDash table{
    text-align: center;
    border: 3px solid;
}

button{ 
    border: none;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(182, 6, 6);
}

#text{
    text-align: justify;
    margin: 30px;
    line-height: 25px;
}